html {
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: #121212;
}

body::-webkit-scrollbar-thumb {
  background: #969696;
  border-radius: 5px;
}
